extends  ./layout

block content
	.pageWrapper.checkoutPageWrapper.cartPageWrapper.shippingCheckoutPageWrapper.emailCheckoutPageWrapper.shippingCheckoutPageWrapper
  .row.content_width_1000
    .divider
      .emailFormWrapperCol.cartWrapperCol.col
        h1 CART
        p.status Order Summary
        section#cart
          .labelDataBox.orderSummaryDataBox
            ul.paymentScreenBagItems
              li
                .col.bagItemImg
                  .col.item
                    img(src='https://kaws-images.s3.amazonaws.com/5a5e1df28c7e7_kaw3.jpg')
                  .col.item_info
                    .item_name
                      p.name KAWS SMALL LIE 
                    .item_quanity
                      a.button.cartUpdate-btn(data-operation='inc', data-quantity='1', data-cart_id='38', style='width:10%; margin: 0px; font-weight: bold') +
                      a.remove(href='/cart/remove_product/38') Remove
                p.item_price $220.00
              li
                .col.bagItemImg
                  .col.item
                    img(src='https://kaws-images.s3.amazonaws.com/5a5e1dc58bb82_kaw1.jpg')
                  .col.item_info
                    .item_name
                      p.name KAWS SMALL LIE (x 3)
                    .item_quanity
                      a.button.cartUpdate-btn(data-operation='dec', data-quantity='3', data-cart_id='34', style=' margin: 0px') -
                      a.remove(href='/cart/remove_product/34') Remove
                p.item_price $660.00
            .final_price
              p.price_bag
                b Subtotal
                | $880.00
              p.price_bag
                b Shipping
                span.upd_shipping_cost $0
              p.price_bag.duty_fees
                b.upd_duty_name DUTY
                span.upd_duty_cost $0
              span.line_sep
              .orderSummaryTotal
                span.triangleBorder
                p
                  b Total
                  | $880.00
        // <button class='continue button'>CONTINUE</button>
        div(style='display:none!important;')
          label(for='email')
            p Redeem a coupon
          input.cpn-code(type='text', tabindex='-1')
          a#do_coupon.btn.btn_primary.apply-cpn Apply Coupon
    #forms.emailFormWrapperCol.shippingFormWrapperCol.col
      .divider.shipping
        h1 Billing Address
        h8.ship_statement Your order will be shipped to your billing address
        .emailFormWrapperCol.shippingFormWrapperCol.col
          form#email_form(autocomplete='off')
            // <p style='margin-bottom: 10px'>Email</p>
            // all visible form fields will have .pay_field_valid or .pay_field_invalid after changing
            input#checkoutEmail.checkOutInput(placeholder='Email', type='email', name='email', maxlength='60', tabindex='1', value='', required='')
            input(type='hidden', name='onepage', value='1', tabindex='-1')
            input.checkOutInput(type='password', name='password', maxlength='60', tabindex='-1', style='display:none', disabled='')
          h8.form_statement
            | Please submit a valid email address so that we can keep you informed on the status of your order.
        form#delivery_form(autocomplete='off')
          input(type='hidden', name='onepage', value='1', autocomplete='false', tabindex='-1')
          input(type='hidden', name='shipping_is_billing', value='on', tabindex='-1')
          .form50
            // <p for="checkoutFName">First Name</p>
            input#checkoutFName.checkOutInput(placeholder='First Name', type='text', name='ship_first_name', maxlength='60', tabindex='1', value='', required='')
          .form50
            // <p for="checkoutLName">Last Name</p>
            input#checkoutLName.checkOutInput(placeholder='Last Name', type='text', name='ship_last_name', maxlength='60', tabindex='2', value='', required='')
          .form100.suggested_addr
          .form50
            // <p for="checkoutAddress1">Address Line 1</p>
            input#checkoutAddress1.checkOutInput(placeholder='Address 1', type='text', name='ship_address', maxlength='60', tabindex='4', value='3634 Smith Street', required='', autocomplete='off')
          .form50
            // <p for="checkoutAddress2">Address Line 2 <span class="optional">(optional)</span></p>
            input#checkoutAddress2.checkOutInput(autocomplete='new-password', placeholder='Address 2 (optional)', type='text', name='ship_address2', maxlength='60', tabindex='5', value='')
          .form50
            // <p for="checkoutCity">City</p>
            input#checkoutCity.checkOutInput(placeholder='City', type='text', name='ship_city', maxlength='60', tabindex='6', value='Wantagh', required='', autocomplete='new-password')
            input#placeId(type='hidden', tabindex='-1')
          #no_margin.form30
            // <p for="checkoutZip">Country</p>
            fieldset.selectUIWrapper.countrySelectWrapper
              select(name='ship_country')
                option(value='United States', data-code='US', selected='') United States
                option(value='Australia', data-code='AU') Australia
                option(value='Austria', data-code='AT') Austria
                option(value='Belgium', data-code='BE') Belgium
                option(value='Canada', data-code='CA') Canada
                option(value='Peoples Rep of China', data-code='CN') Peoples Rep of China
                option(value='Czech Republic', data-code='CZ') Czech Republic
                option(value='Denmark', data-code='DK') Denmark
                option(value='Finland', data-code='FI') Finland
                option(value='France', data-code='FR') France
                option(value='Germany', data-code='DE') Germany
                option(value='Greece', data-code='GR') Greece
                option(value='Hong Kong', data-code='HK') Hong Kong
                option(value='Hungary', data-code='HU') Hungary
                option(value='Iceland', data-code='IS') Iceland
                option(value='Republic of Ireland', data-code='IE') Republic of Ireland
                option(value='Israel', data-code='IL') Israel
                option(value='Italy', data-code='IT') Italy
                option(value='Japan', data-code='JP') Japan
                option(value='South Korea', data-code='KR') South Korea
                option(value='Luxembourg', data-code='LU') Luxembourg
                option(value='Netherlands', data-code='NL') Netherlands
                option(value='New Zealand', data-code='NZ') New Zealand
                option(value='Norway', data-code='NO') Norway
                option(value='Portugal', data-code='PT') Portugal
                option(value='Puerto Rico', data-code='PR') Puerto Rico
                option(value='Qatar', data-code='QA') Qatar
                option(value='Singapore', data-code='SG') Singapore
                option(value='Spain', data-code='ES') Spain
                option(value='Sweden', data-code='SE') Sweden
                option(value='Switzerland', data-code='CH') Switzerland
                option(value='Taiwan', data-code='TW') Taiwan
                option(value='Thailand', data-code='TH') Thailand
                option(value='United Kingdom', data-code='GB') United Kingdom
              span.downArrowICon
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                  path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                  L-321,348.1z')
          .form30.last
            #us_states
              // <p for="checkoutRegion">County / State / Region *</p>
              fieldset.selectUIWrapper.countrySelectWrapper
                select#checkoutRegionUS(name='ship_state', required='')
                  option(value='AL') Alabama
                  option(value='AK') Alaska
                  option(value='AZ') Arizona
                  option(value='AR') Arkansas
                  option(value='CA') California
                  option(value='CO') Colorado
                  option(value='CT') Connecticut
                  option(value='DE') Delaware
                  option(value='FL') Florida
                  option(value='GA') Georgia
                  option(value='HI') Hawaii
                  option(value='ID') Idaho
                  option(value='IL') Illinois
                  option(value='IN') Indiana
                  option(value='IA') Iowa
                  option(value='KS') Kansas
                  option(value='KY') Kentucky
                  option(value='LA') Louisiana
                  option(value='ME') Maine
                  option(value='MD') Maryland
                  option(value='MA') Massachusetts
                  option(value='MI') Michigan
                  option(value='MN') Minnesota
                  option(value='MS') Mississippi
                  option(value='MO') Missouri
                  option(value='MT') Montana
                  option(value='NE') Nebraska
                  option(value='NV') Nevada
                  option(value='NH') New Hampshire
                  option(value='NJ') New Jersey
                  option(value='NM') New Mexico
                  option(value='NY') New York
                  option(value='NC') North Carolina
                  option(value='ND') North Dakota
                  option(value='OH', selected='') Ohio
                  option(value='OK') Oklahoma
                  option(value='OR') Oregon
                  option(value='PA') Pennsylvania
                  option(value='RI') Rhode Island
                  option(value='SC') South Carolina
                  option(value='SD') South Dakota
                  option(value='TN') Tennessee
                  option(value='TX') Texas
                  option(value='UT') Utah
                  option(value='VT') Vermont
                  option(value='VA') Virginia
                  option(value='WA') Washington
                  option(value='WV') West Virginia
                  option(value='WI') Wisconsin
                  option(value='WY') Wyoming
                  option(value='DC') District of Columbia
                  option(value='GU') Guam
                  option(value='PR') Puerto Rico
                  option(value='VI') Virgin Islands
                span.downArrowICon
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                    path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                    L-321,348.1z')
          #foreign_states(style='display: none')
            p(for='checkoutRegion') County / State / Region *
            input#checkoutRegion.checkOutInput(disabled='', type='text', name='ship_state', maxlength='60', tabindex='-1', value='OH', required='')
          .form50
            // <p for="checkoutZip">Postcode / Zip Code *</p>
            input#shipzip.checkOutInput(placeholder='Postcode / Zip Code', type='text', name='ship_zip', maxlength='60', tabindex='8', value='11793', required='', autocomplete='new-password')
          .form50
            // <p for="checkoutPhone">Phone <span class="optional"></span></p>
            input#checkoutPhone.checkOutInput(placeholder='Phone', type='text', name='phone', maxlength='60', tabindex='3', value='', required='')
          h8.phone_statement.ship_statement Provide a valid phone for UPS to contact you.
          input(name='email', style='display: none', value='', tabindex='-1')
      .emailFormWrapperCol.shippingFormWrapperCol.paymentFormWrapperCol.col
        .divider
          form#bill(method='post', action='/checkout/payment', novalidate='', autocomplete='off')
            input(name='email', style='display: none', value='', tabindex='-1')
            // 
            h1 Billing & Payment
            //
              <div id="paypalPayment" style="display:none" class="checkboxUX optionBoxCheckboxUIWrapper highlightedCheckoutOptionBox optionBox">
              <div class="checkboxUI">
              <icon class="check"></icon>
              </div>
              <p>continue with <span class="media" style="background-image:url('paypalLogo.png')"></span> below</p>
              <input type="checkbox" name="paypal">
              </div>
            .creditCardPaymentFormSection
              div(style='width: 97%')
                // <p for="cardUserName">Name on Card</p>
                input#cardUserName.card_name(placeholder='Name on Card', type='text', name='card_name', maxlength='60', required='')
              div(style='width: 97%')
                // <p for="ccnumber">Credit Card Number</p>
                .cardNumberInputWrapper
                  input#ccnumber.card_num(placeholder='Credit Card Number', type='text', pattern='[0-9]*', name='cc_number', maxlength='16', required='')
                  #creditCardIcons
                    .media
              #no_margin.form50
                input#cc_type(type='hidden', name='cc_type', tabindex='-1')
                // <p for="checkoutPhone">Expires on</p>
                fieldset.selectUIWrapper.selectExpMonth
                  select(style='margin-top: 8px;', name='cc_expiration_month', required='')
                    option(value='01') January
                    option(value='02') February
                    option(value='03') March
                    option(value='04') April
                    option(value='05') May
                    option(value='06') June
                    option(value='07') July
                    option(value='08') August
                    option(value='09') September
                    option(value='10') October
                    option(value='11') November
                    option(value='12') December
                  span.downArrowICon
                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                      path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                      L-321,348.1z')
              .form50
                fieldset.selectUIWrapper.selectExpYear
                  select(style='margin-top: 8px;', name='cc_expiration_year', required='')
                    option(value='2018') 2018
                    option(value='2019') 2019
                    option(value='2020') 2020
                    option(value='2021') 2021
                    option(value='2022') 2022
                    option(value='2023') 2023
                    option(value='2024') 2024
                    option(value='2025') 2025
                    option(value='2026') 2026
                    option(value='2027') 2027
                    option(value='2028') 2028
                    option(value='2029') 2029
                    option(value='2030') 2030
                    option(value='2031') 2031
                  span.downArrowICon
                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                      path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                      L-321,348.1z')
              // <input type="text" name="card_expire" tabindex="3" class="card_expire" id="checkoutPhone">
              div(style='width: 50%; position: relative; max-width: 200px;')
                p.secode(for='secCode', style='max-width: 200px; position: relative; width: 100%;')
                .cvv_help_box(style='display:inline-block')
                  .trigger
                    span.as_m ?
                  .ccv_help_box
                    p
                      | For security reasons, please enter your card verification number (CVV) or card identification number (CID). Find this three-digit number on the back of your Visa, MasterCard and Discover cards in the signature area, or the four-digit number on the front of your American Express card, above the credit card number.
                    span.ccv_tip_icons
                      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='384.5 10.7 201.9 58.3', enable-background='new 384.5 10.7 201.9 58.3', xml:space='preserve')
                        g#cvv_1_
                          g
                            path(fill='#C3C3C3', d='M468.3,59.9c0,3.7-3,6.5-6.8,6.5h-67.9c-3.8,0-6.8-2.9-6.8-6.5V20.6c0-3.7,3-6.5,6.8-6.5h67.9\
                            c3.8,0,6.8,2.9,6.8,6.5L468.3,59.9C468.3,59.9,468.3,59.9,468.3,59.9z')
                          rect(x='386.8', y='22.3', fill='#222222', width='81.5', height='10.5')
                          rect(x='393.2', y='38', fill='#FFFFFF', width='48.9', height='10.5')
                          rect(x='397.1', y='41.9', fill='#222222', width='40.9', height='2.6')
                          rect(x='449.8', y='38', fill='#FFFFFF', width='11.3', height='10.5')
                          rect(x='451.1', y='41.9', fill='#222222', width='8.4', height='2.6')
                          ellipse(fill='none', stroke='#FF0000', stroke-miterlimit='10', cx='455.4', cy='43.2', rx='10.6', ry='10.3')
                        g#cvv-amex_1_
                          g#cvv-amex
                            g
                              g
                                path(fill='#5EC1EC', d='M586.4,59.7c0,3.8-3.1,6.7-7,6.7h-69.7c-3.9,0-7-3-7-6.7V19.4c0-3.8,3.1-6.7,7-6.7h69.7c3.9,0,7,3,7,6.7\
                                V59.7z')
                                g
                                  path(fill='#FFFFFF', d='M514.1,28.6l-0.4-1.6h-2.9l-0.4,1.6h-2.8l2.9-8.9h3.3l3.1,8.9H514.1z M513.1,25l-0.4-1.5\
                                  c-0.1-0.3-0.1-0.7-0.3-1.2c-0.1-0.5-0.3-0.9-0.3-1.1c0,0.3-0.1,0.5-0.3,1.1c-0.1,0.5-0.4,1.3-0.7,2.8L513.1,25L513.1,25z')
                                  path(fill='#FFFFFF', d='M521.7,28.6l-1.8-6.3l0,0c0.1,1.1,0.1,1.9,0.1,2.6v3.8h-2.2v-8.7h3.3l2,6.3l0,0l1.8-6.3h3.3v8.7h-2.2\
                                  v-3.8c0-0.1,0-0.4,0-0.7c0-0.3,0-0.8,0.1-1.7l0,0l-1.8,6.2H521.7L521.7,28.6z')
                                  path(fill='#FFFFFF', d='M535.4,28.6H530v-8.9h5.4v1.9h-2.9v1.3h2.8v1.9h-2.8v1.6h2.9L535.4,28.6L535.4,28.6z')
                                  path(fill='#FFFFFF', d='M545.3,28.6h-2.9l-1.8-2.8l-1.8,2.8H536L539,24l-2.9-4.3h2.8l1.7,2.7l1.5-2.7h2.8l-2.9,4.6L545.3,28.6z\
                                  ')
                                g
                                  path(fill='#FFFFFF', d='M514.1,28.6l-0.4-1.6h-2.9l-0.4,1.6h-2.8l2.9-8.9h3.3l3.1,8.9H514.1z M513.1,25l-0.4-1.5\
                                  c-0.1-0.3-0.1-0.7-0.3-1.2c-0.1-0.5-0.3-0.9-0.3-1.1c0,0.3-0.1,0.5-0.3,1.1c-0.1,0.5-0.4,1.3-0.7,2.8L513.1,25L513.1,25z')
                                  path(fill='#FFFFFF', d='M521.7,28.6l-1.8-6.3l0,0c0.1,1.1,0.1,1.9,0.1,2.6v3.8h-2.2v-8.7h3.3l2,6.3l0,0l1.8-6.3h3.3v8.7h-2.2\
                                  v-3.8c0-0.1,0-0.4,0-0.7c0-0.3,0-0.8,0.1-1.7l0,0l-1.8,6.2H521.7L521.7,28.6z')
                                  path(fill='#FFFFFF', d='M535.4,28.6H530v-8.9h5.4v1.9h-2.9v1.3h2.8v1.9h-2.8v1.6h2.9L535.4,28.6L535.4,28.6z')
                                  path(fill='#FFFFFF', d='M545.3,28.6h-2.9l-1.8-2.8l-1.8,2.8H536L539,24l-2.9-4.3h2.8l1.7,2.7l1.5-2.7h2.8l-2.9,4.6L545.3,28.6z\
                                  ')
                              rect(x='507.5', y='43.9', display='none', fill='#FFFFFF', width='69.7', height='10.6')
                              rect(x='513.4', y='47.9', fill='#222222', width='56.1', height='2.7')
                              rect(x='565.3', y='31.4', fill='#FFFFFF', width='11.1', height='10.7')
                              rect(x='566.7', y='35.4', fill='#222222', width='8.4', height='2.7')
                            ellipse(fill='none', stroke='#FF0000', stroke-miterlimit='10', cx='570.8', cy='36.8', rx='10.9', ry='10.5')
                p
                input#secCode.card_cvv(style='max-width: 200px;', type='text', name='cc_ccv', placeholder='Security Code', maxlength='4', tabindex='4', required='')
              div
                p.form_statement(for='agree_to_terms', style='max-width: 200px; position: relative; width: 100%;')
                  | You must agree to the 
                  a(onclick="$('#terms').click()") Terms of Service
                  |  to checkout.
                input#agreeTerms(type='checkbox', name='agree_to_terms')
            input(name='payment_method', type='hidden', value='1', tabindex='-1')
            #isSameAddress.checkboxUX.optionBoxCheckboxUIWrapper.highlightedCheckoutOptionBox.optionBox.selected(style='')
              .checkboxUI
                icon.check
              p Billing Address is the same as Shipping Address
              input(type='checkbox', readonly='', checked='checked', tabindex='-1')
            br
            .billingAddressInfo.hiddenShippingInfo(style='')
              .form50
                // <label for="fname">First Name</label>
                input#fname.checkOutInput(type='text', placeholder='First Name', name='bill_first_name', maxlength='60', tabindex='1', required='', value='')
              .form50
                label(for='lname') Last Name
                input#lname.checkOutInput(type='text', name='bill_last_name', maxlength='60', tabindex='2', required='', value='')
              .form50
                label(for='checkoutPhone')
                  | Phone 
                  span.optional
                input#checkoutPhone.checkOutInput(type='text', name='bill_phone', maxlength='60', tabindex='3', value='')
              input#place_id(type='hidden', name='place_id', tabindex='-1')
              .form50
                label(for='checkoutAddress1') Address Line 1
                input#checkoutAddress1.checkOutInput(type='text', name='bill_address', maxlength='60', tabindex='4', required='', value='3634 Smith Street')
              .form50
                label(for='checkoutAddress2')
                  | Address Line 2 
                  span.optional (optional)
                input#checkoutAddress2.checkOutInput(type='text', name='bill_address2', maxlength='60', tabindex='5', value='')
              .form50
                label(for='checkoutCity') City
                input#checkoutCity.checkOutInput(type='text', name='bill_city', maxlength='60', tabindex='6', required='', value='Wantagh')
              #no_margin.form30
                label(for='checkoutCountry') Country
                fieldset.selectUIWrapper.countrySelectWrapper
                  select#checkoutCountry(name='bill_country')
                    option(value='United States', data-code='US', selected='') United States
                    option(value='Australia', data-code='AU') Australia
                    option(value='Austria', data-code='AT') Austria
                    option(value='Belgium', data-code='BE') Belgium
                    option(value='Canada', data-code='CA') Canada
                    option(value='Peoples Rep of China', data-code='CN') Peoples Rep of China
                    option(value='Czech Republic', data-code='CZ') Czech Republic
                    option(value='Denmark', data-code='DK') Denmark
                    option(value='Finland', data-code='FI') Finland
                    option(value='France', data-code='FR') France
                    option(value='Germany', data-code='DE') Germany
                    option(value='Greece', data-code='GR') Greece
                    option(value='Hong Kong', data-code='HK') Hong Kong
                    option(value='Hungary', data-code='HU') Hungary
                    option(value='Iceland', data-code='IS') Iceland
                    option(value='Republic of Ireland', data-code='IE') Republic of Ireland
                    option(value='Israel', data-code='IL') Israel
                    option(value='Italy', data-code='IT') Italy
                    option(value='Japan', data-code='JP') Japan
                    option(value='South Korea', data-code='KR') South Korea
                    option(value='Luxembourg', data-code='LU') Luxembourg
                    option(value='Netherlands', data-code='NL') Netherlands
                    option(value='New Zealand', data-code='NZ') New Zealand
                    option(value='Norway', data-code='NO') Norway
                    option(value='Portugal', data-code='PT') Portugal
                    option(value='Puerto Rico', data-code='PR') Puerto Rico
                    option(value='Qatar', data-code='QA') Qatar
                    option(value='Singapore', data-code='SG') Singapore
                    option(value='Spain', data-code='ES') Spain
                    option(value='Sweden', data-code='SE') Sweden
                    option(value='Switzerland', data-code='CH') Switzerland
                    option(value='Taiwan', data-code='TW') Taiwan
                    option(value='Thailand', data-code='TH') Thailand
                    option(value='United Kingdom', data-code='GB') United Kingdom
                  span.downArrowICon
                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                      path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                      L-321,348.1z')
              .form30
                #us_states
                  label(for='checkoutRegion') County / State / Region *
                  fieldset.selectUIWrapper.countrySelectWrapper
                    select#checkoutRegionUS(name='bill_state', required='')
                      option(value='AL') Alabama
                      option(value='AK') Alaska
                      option(value='AZ') Arizona
                      option(value='AR') Arkansas
                      option(value='CA') California
                      option(value='CO') Colorado
                      option(value='CT') Connecticut
                      option(value='DE') Delaware
                      option(value='FL') Florida
                      option(value='GA') Georgia
                      option(value='HI') Hawaii
                      option(value='ID') Idaho
                      option(value='IL') Illinois
                      option(value='IN') Indiana
                      option(value='IA') Iowa
                      option(value='KS') Kansas
                      option(value='KY') Kentucky
                      option(value='LA') Louisiana
                      option(value='ME') Maine
                      option(value='MD') Maryland
                      option(value='MA') Massachusetts
                      option(value='MI') Michigan
                      option(value='MN') Minnesota
                      option(value='MS') Mississippi
                      option(value='MO') Missouri
                      option(value='MT') Montana
                      option(value='NE') Nebraska
                      option(value='NV') Nevada
                      option(value='NH') New Hampshire
                      option(value='NJ') New Jersey
                      option(value='NM') New Mexico
                      option(value='NY') New York
                      option(value='NC') North Carolina
                      option(value='ND') North Dakota
                      option(value='OH', selected='') Ohio
                      option(value='OK') Oklahoma
                      option(value='OR') Oregon
                      option(value='PA') Pennsylvania
                      option(value='RI') Rhode Island
                      option(value='SC') South Carolina
                      option(value='SD') South Dakota
                      option(value='TN') Tennessee
                      option(value='TX') Texas
                      option(value='UT') Utah
                      option(value='VT') Vermont
                      option(value='VA') Virginia
                      option(value='WA') Washington
                      option(value='WV') West Virginia
                      option(value='WI') Wisconsin
                      option(value='WY') Wyoming
                      option(value='DC') District of Columbia
                      option(value='GU') Guam
                      option(value='PR') Puerto Rico
                      option(value='VI') Virgin Islands
                    span.downArrowICon
                      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                        path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                        L-321,348.1z')
                #foreign_states(style='display: none')
                  label(for='checkoutRegion') County / State / Region *
                  input#checkoutRegion.checkOutInput(disabled='', type='text', name='bill_state', maxlength='60', tabindex='-1', value='OH', required='')
              // <input type="hidden" name="bill_state" maxlength="60" tabindex="7" class="checkOutInput" value="
              // " required>
              .form30
                label(for='checkoutZip') Postcode / Zip Code *
                input#checkoutZip.checkOutInput(type='text', name='bill_zip', maxlength='60', tabindex='8', required='', value='11793')
            input(name='tax_rate', value='0', hidden='', tabindex='-1')
            input(type='hidden', name='noajax', value='true', tabindex='-1')
            .row.secondaryFocus
              .right_float.total_costs
                input#creditCardPayBtn.button(type='submit', value='Place Order', disabled='')
                .total_cost.orderSummaryTotal
                  p(style='font-size: 16px;')
                    b Total
                    | $880.00
                // <input type="button" value="Proceed with Paypal" id="paypalPayBtnClicker" class="button">
            input(name='shipping', type='hidden', value='0', tabindex='-1')
            input(name='duty', type='hidden', value='0', tabindex='-1')
            input(name='shipping_method', type='hidden', value='0', tabindex='-1')
            input(name='gift_card', type='hidden', value='', tabindex='-1')
            input(name='gift_card_code', type='hidden', value='', tabindex='-1')
            // <form id="bill" method="post" action="/checkout/payment">
            // </form>
      #theFixed.shoppingInfoCol.col.shoppingInfoColPayment
        .labelDataBox.orderSummaryDataBox
          .header
            h1.dji-text Order Summary
          ul.paymentScreenBagItems
            li
              .col.bagItemImg
                a.row(href='/products/kaws-small-lie-b')
                  .col
                    p KAWS SMALL LIE
                    // <p>
                    // </p>
                    // <p>US:
                    // EU:
                    // </p>
                    p $220.00
                  .col
                    img(src='https://kaws-images.s3.amazonaws.com/5a5e1df28c7e7_kaw3.jpg')
            li
              .col.bagItemImg
                a.row(href='/products/kaws-small-lie-bl')
                  .col
                    p KAWS SMALL LIE
                    // <p>
                    // </p>
                    // <p>US:
                    // EU:
                    // </p>
                    p $660.00
                  .col
                    img(src='https://kaws-images.s3.amazonaws.com/5a5e1dc58bb82_kaw1.jpg')
          p.price_bag
            b Subtotal
            | $880.00
          p.price_bag
            b Shipping
            span.upd_shipping_cost $0
          p.price_bag
            b Duty
            span.upd_duty_cost $0
          span.line_sep
          .orderSummaryTotal
            span.triangleBorder
            p
              b Total
              | $880.00
        .redeem_coupon
          label(for='email') Redeem a coupon
          input.cpn-code(type='text', tabindex='-1')
          a#do_coupon.btn.btn_primary.apply-cpn Apply
        .labelDataBox
          label Help with your Order
          p
            | You can reach us at 
            a(href='tel:2123333990') 212 333 3990
          p
            a(href='/pages/return-and-shipping-policy') Return & Shipping Policy
          img(src='/content/frontend/assets/img/creditCardOptions.png')
        //
          <div class="labelDataBox">
          <label>Returns Policy</label>
          <p><b>Easy Returns</b>Returns service: All products may be exchanged or returned within 14 days of the invoice date. Thereafter, all sales are final. </p>
          </div>
          <div class="labelDataBox">
          <label>Secure Shopping</label>
          <p>To ensure the safety of your credit card data at all times, we use Secure Socket Layer (SSL) technology and the highest security standards, certified by Verisign™ and Trustwave.</p>
          <img src="/content/frontend/assets/img/creditCardOptions.png">
          </div>
  script(type='text/javascript').
    //Address Validation
    $(document).ready(function(){
    $('form').attr('autocomplete','off');
    $(':input').live('focus',function(){
    $('form').attr('autocomplete','off');
    $(this).attr('autocomplete', 'off');
    });
    });
    var asService;
    var lsService;
    var activateSuggestions = true;
    function initService() {
    asService = new google.maps.places.AutocompleteService();
    lsService = new google.maps.Geocoder;
    console.log('sdsd');
    }
    function initMap() {
    var input = $('input#checkoutAddress1')[0];
    lsService = new google.maps.Geocoder;
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener('place_changed',function () {
    var result = autocomplete.getPlace();
    activate(result);
    // $('#place_id').val(place.place_id);
    });
    }
    function displaySuggestions(predictions, status){
    $('.suggested_addr').empty();
    if (status != google.maps.places.PlacesServiceStatus.OK) {
    if(status == google.maps.places.PlacesServiceStatus.ZERO_RESULTS ){
    $('.suggested_addr').append('<div>Zero results</div>');
    } else {
    $('.suggested_addr').append('<div>Error occurred searching address</div>');
    }
    return;
    }
    predictions.forEach(function(prediction) {
    if(prediction.types && prediction.types.includes('street_address')){
    var suggestion = $('<div><a class="btn location_choices" data-place_id="'+prediction.place_id+'" >'+prediction.description+'</a></div>');
    $('.suggested_addr').append(suggestion);
    }
    });
    }
    function getSuggestions() {
    $('#creditCardPayBtn').prop('disabled',true);
    if(!activateSuggestions){ return; }
    var addr1 = $('#checkoutAddress1').val();
    var addr2 = $('#checkoutAddress2').val();
    var city = $('#checkoutCity').val();
    var ctry = $('#checkoutCountry').val();
    var zip = $('#shipzip').val();
    var state = '';
    if($('#checkoutRegion:visible').length){
    state = $('#checkoutRegion').val();
    } else if($('#checkoutRegionUS:visible').length){
    state = $('#checkoutRegionUS').val();
    }
    var address = addr1+' '+city+', '+zip+' '+ctry;
    asService.getQueryPredictions({ input: address}, displaySuggestions);
    }
    function activate(result){
    activateSuggestions = false;
    var addr1 ='';
    var street_num = '';
    var route = '';
    var city =[];
    var ctry ='';
    var zip ='';
    var state ='';
    var place_id = result.place_id;
    result.address_components.forEach(function(component){
    if(component.types.includes('street_number')){
    street_num = component.long_name;
    }
    if(component.types.includes('route')){
    route = component.long_name;
    }
    if(component.types.includes('postal_code')){
    zip = component.long_name;
    }
    if(component.types.includes('country')){
    ctry = component.long_name;
    }
    if(component.types.includes('locality') || component.types.includes('sublocality')){
    city = component.long_name;
    }
    if(component.types.includes('administrative_area_level_1')){
    state = [component.long_name,component.short_name];
    }
    });
    addr1 = street_num+' '+route;
    $('#checkoutAddress1').val(addr1).change();
    $('#checkoutCity').val(city).change();
    $('#shipzip').val(zip).change();
    $('#checkoutCountry').val(ctry).change();
    $('#checkoutRegion').val(state[1]).change();
    $('#checkoutRegionUS').val(state[1]).change();
    $('#creditCardPayBtn').prop('disabled',false);
    // $('#creditCardPayBtn').removeClass('disable_input');
    $('#place_id').val(place_id);
    activateSuggestions = true;
    }
  script(type='text/javascript').
    (function ($, root, undefined) {
    $(document).ready(function(){
    $(window).bind('scroll', function() {
    var navHeight = $( window ).height() - 600;
    if ($(window).scrollTop() > navHeight) {
    $('.pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col').addClass('fixed');
    }
    else {
    $('.pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col').removeClass('fixed');
    }
    });
    });
    })(jQuery, this);
  style.
  // <link href="
  // " rel="stylesheet" type="text/css"/>
  // <script src="<//?=FRONT_JS.'jquery.sticky.js'?>"></script>
  // <script src="<//?=FRONT_JS.'cc_type.js'?>"></script>
  script(type='text/javascript').
    $(document).ready(function(){
    $('input[name=cc_number]').on('input',function(){
    $('#cc_type').val(creditCardType($(this).val())[0].type);
    });
    window.addEventListener('cardChange',function(c){
    card = c.detail;
    if(card != ''){
    $('#creditCardIcons > div.media').empty().append($('<img src="/content/frontend/assets/img/'+card+'_icon.png" />'));
    } else {
    $('#creditCardIcons > div.media').empty();
    }
    });
    function updateACart() {
    var cc_number = $('input[name=cc_number]').val();
    var cc_month = $('input[name=cc_expiration_month]').val();
    var cc_year = $('input[name=cc_expiration_year]').val();
    var cc_ccv = $('input[name=cc_ccv]').val();
    var fn = $('input[name=bill_first_name]').val();
    var ln = $('input[name=bill_last_name]').val();
    var phone = $('input[name=bill_phone]').val();
    var address1 = $('input[name=bill_address]').val();
    var address2 = $('input[name=bill_address2]').val();
    var city = $('input[name=bill_city]').val();
    var state = $('input[name=bill_state]').val();
    var zip = $('input[name=bill_zip]').val();
    var data = {
    cc_number: cc_number,
    cc_expiration_month: cc_month,
    cc_expiration_year: cc_year,
    cc_ccv: cc_ccv,
    bill_first_name: fn,
    bill_last_name: ln,
    phone: phone,
    bill_address: address1,
    bill_address2: address2,
    bill_city: city,
    bill_state: state,
    bill_zip: zip
    };
    $.post('/checkout/logCheckout', data, function () {
    console.log('123');
    });
    }
    $('[name=wholesale_term]').on('change',function(){
    var payment_method = $('[name=payment_method');
    switch(parseFloat($(this).val())){
    default:
    case 0: /** CC */
    payment_method.val(1);
    ccSection(true);
    break;
    case 1: /** Check (deposit) */
    payment_method.val(4);
    ccSection(false);
    break;
    case 2: /** Bank Wire */
    payment_method.val(6);
    ccSection(false);
    break;
    case 3: /** Cash */
    payment_method.val(3);
    ccSection(false);
    break;
    }
    }).trigger('change');
    function ccSection(show){
    var cc_section = $('.creditCardPaymentFormSection');
    if(show){
    cc_section.show(); cc_section.find('input,select').prop('disabled',false);
    } else {
    cc_section.hide(); cc_section.find('input,select').prop('disabled',true);
    }
    }
    $('#creditCardPayBtn').on('click',function(e){
    $('#bill').removeAttr('target');
    var submit = true;
    $.each(['#cardUserName','#ccnumber','#secCode'],function(k,v){
    if($(v).val() == ''){
    submit == false;
    $(v).attr('style', 'border: 1px solid red !important').removeClass('pay_field_valid').addClass('pay_field_invalid');
    } else {
    $(v).attr('style', 'border: 1px solid #d6d6d6 !important').removeClass('pay_field_invalid').addClass('pay_field_valid');
    }
    });
    var data = {
    bill_first_name:$('[name=bill_first_name]').val(),
    bill_last_name:$('[name=bill_last_name]').val(),
    bill_address:$('[name=bill_address]').val(),
    bill_city:$('[name=bill_city]').val(),
    bill_state:$('[name=bill_state]:enabled').val(),
    bill_zip:$('[name=bill_zip]').val(),
    bill_country:$('[name=bill_country]').val(),
    phone:$('[name=phone]').val(),
    ship_first_name:$('[name=ship_first_name]').val(),
    ship_last_name:$('[name=ship_last_name]').val(),
    ship_address:$('[name=ship_address]').val(),
    ship_city:$('[name=ship_city]').val(),
    ship_state:$('[name=ship_state]:enabled').val(),
    ship_zip:$('[name=ship_zip]').val(),
    ship_country:$('[name=ship_country]').val()
    };
    $.each(data,function(key,value){
    if(!value){
    submit = false;
    $('[name=' + key +']:enabled').attr('style', 'border: 1px solid red !important');
    $('[name=' + key +']:enabled').removeClass('pay_field_valid');
    $('[name=' + key +']:enabled').addClass('pay_field_invalid');
    } else {
    $('[name=' + key +']:enabled').attr('style', 'border: 1px solid #d6d6d6 !important');
    $('[name=' + key +']:enabled').removeClass('pay_field_invalid');
    $('[name=' + key +']:enabled').addClass('pay_field_valid');
    }
    });
    if(submit && $('.pay_field_invalid').length == 0){
    $('#delivery_form :input').not(':submit').clone().hide().appendTo('#bill');
    $('#bill [name=ship_state]').val($('[name=bill_state]').val());
    } else {
    $('html, body').animate({
    scrollTop: $('.pay_field_invalid').siblings('label').offset().top
    }, 1000);
    e.preventDefault();
    }
    });
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('#cardUserName, #ccnumber, #secCode, #fname,#lname,#checkoutPhone,#checkoutAddress1, #checkoutAddress2, #checkoutCity, #checkoutRegionUS, #checkoutZip,#checkoutCountry').on('blur autocompletechange', function () {
    updateACart()
    });
    } else {
    $(window).on('beforeunload', function () {
    updateACart()
    });
    }
    $('#shipzip').on('keyup',function () {
    var country = $('select[name=ship_country]').find(':selected').val();
    var zip = $(this).val();
    if(country === 'United States'){
    zip = zip.replace(/[^0-9-]/g,'');
    $(this).val(zip);
    $(this).change();
    } else {
    zip = zip.replace(/[^A-z0-9-]/g,'');
    $(this).val(zip);
    $(this).change();
    }
    });
    $('#ccnumber').on('keyup',function(){
    var ccnumber = $(this).val();
    ccnumber = ccnumber.replace(/[^0-9-]/g,'');
    $(this).val(ccnumber);
    });
    var opt = $('#isSameAddress');
    opt.on('click',function(){
    if(!opt.find('input').is(':checked')) {
    $('.billingAddressInfo').addClass('hiddenShippingInfo');
    $('input[name=bill_first_name').val($('input[name=ship_first_name').val());
    $('input[name=bill_last_name').val($('input[name=ship_last_name').val());
    $('input[name=bill_phone').val($('input[name=ship_phone').val());
    $('input[name=bill_address').val($('input[name=ship_address').val());
    $('input[name=bill_address2').val($('input[name=ship_address2').val());
    $('input[name=bill_city').val($('input[name=ship_city').val());
    $('input[name=bill_state').val($('input[name=ship_state').val());
    $('input[name=bill_zip').val($('input[name=ship_zip').val());
    } else {
    $('.billingAddressInfo').removeClass('hiddenShippingInfo');
    $('input[name=bill_first_name').val('');
    $('input[name=bill_last_name').val('');
    $('input[name=bill_phone').val('');
    $('input[name=bill_address').val('');
    $('input[name=bill_address2').val('');
    $('input[name=bill_city').val('');
    $('input[name=bill_state').val('');
    $('input[name=bill_zip').val('');
    }
    });
    //		$("#do_coupon").on('click',function(){
    //			var email = $('#emailAddr').val();
    //			if(email.length>1 && email.indexOf('@')>0){
    //				$.post('/checkout/addCoupon',{email:email},function(data){
    //					if(data.status == 'success'){
    //						window.location.replace('//');
    //					} else {
    //						alert(data.message);
    //					}
    //				})
    //			} else {
    //				alert('Please input a coupon code');
    //			}
    //		});
    $('#redeem-gift-card').on('click',function(){
    var code = $('[name=gift-card-code]');
    if(code.val() == null || code.val() == ''){
    alert('Please input your gift card code');
    } else {
    $.post('/checkout/addGiftCard',{'gift-card-code':code.val()},function(data){
    var json = $.parseJSON(data);
    if(json.status == 'success'){
    window.location.replace(json.redirect);
    } else {
    alert(json.message);
    }
    })
    }
    });
    $('.apply-cpn').on('click',function(){
    var code = $(this).siblings('input.cpn-code');
    if(code.val() == null || code.val() == ''){
    alert('Please input a coupon code');
    } else {
    $.post('/coupon/add',{'code':code.val()},function(data){
    var json = $.parseJSON(data);
    if(json.status == 'success'){
    window.location.replace('/checkout/payment');
    } else {
    alert(json.message);
    }
    })
    }
    });
    $('#remove-gift-card').on('click',function(){
    $.post('/checkout/removeGiftCard',{},function(data){
    var json = $.parseJSON(data);
    if(json.status == 'success'){
    window.location.replace('/checkout/payment');
    }
    })
    });
    $('#remove-coupon').on('click',function(){
    $.post('/coupon/remove',{},function(data){
    var json = $.parseJSON(data);
    if(json.status == 'success'){
    window.location.replace('/checkout/payment');
    }
    })
    });
    //If gift card completes the purchase, disable CC and PayPal
    $('select[name=ship_country]').on('change',function(){
    var us = $('#us_states');
    var foreign = $('#foreign_states');
    if($(this).find(':selected').val() === 'United States'){
    us.show();
    us.find('select').prop('disabled',false);
    foreign.hide();
    foreign.find('input').prop('disabled',true);
    } else {
    us.hide();
    us.find('select').prop('disabled',true);
    foreign.val('');
    foreign.show();
    foreign.find('input').prop('disabled',false);
    }
    });
    $('select[name=bill_country]').on('change',function(){
    var us = $('#bill #us_states');
    var foreign = $('#bill #foreign_states');
    if($(this).find(':selected').val() === 'United States'){
    us.show();
    us.find('select').prop('disabled',false);
    foreign.hide();
    foreign.find('input').prop('disabled',true);
    } else {
    us.hide();
    us.find('select').prop('disabled',true);
    foreign.show();
    foreign.find('input').prop('disabled',false);
    }
    });
    $('#checkoutAddress1,' +
    '#checkoutAddress2,' +
    '#checkoutCity,' +
    '#checkoutCountry,' +
    '#shipzip,' +
    '#checkoutRegion,' +
    '#checkoutRegionUS').keyup(function(){
    $('#place_id').val('');
    });
    })
  script(type='text/javascript').
    //Separate Forms
    $(document).ready(function(){
    $('#agreeTerms').change(function(){
    if($(this).is(':checked')){
    $('#creditCardPayBtn').attr('disabled',false);
    } else {
    $('#creditCardPayBtn').attr('disabled',true);
    }
    });
    $(':input:not(:visible)').attr('tabindex',-1);
    $('#email_form').find('input,select').change(function(e){
    var form = $('#email_form');
    var field = $(this);
    $('input[name=email]').val(field.val());
    $.post('/checkout/email',form.serialize(),function (data){
    if(data.status){
    field.addClass("pay_field_valid");
    field.removeClass("pay_field_invalid");
    } else {
    field.addClass("pay_field_invalid");
    field.removeClass("pay_field_valid");
    }
    })
    });
    $('#delivery_form').find('input,select').change(function(e){
    var name = $(this).attr('name');
    if($('#isSameAddress :checked').length > 0){
    $('#bill').find('input,select').filter('[name='+name.replace('ship','bill')+']').val($(this).val());
    var form = $('#delivery_form');
    $.post('/checkout/delivery',form.serialize(),function (data){
    console.log(data);
    })
    if($(this).attr('name') == 'ship_country' || $(this).attr('name') == 'ship_state'){
    var code = $('#delivery_form [name=ship_country]').find(':selected').data('code');
    $.post('/checkout/shippingPriceUpdate',{country:this.value,countryCode:code,cartTotal:880,state:$('#checkoutRegionUS').val()},function(data){
    $('span.upd_shipping_cost').text('$'+data.shipping);
    $('span.upd_duty_cost').text('$'+data.duty);
    $('b.upd_duty_name').text(data.taxName);
    $('[name=shipping]').val(data.shipping);
    $('[name=shipping_method]').val(data.ship_meth);
    if(data.taxName == 'DUTY'){
    $('[name=duty]').val(data.duty);
    } else {
    $('[name=duty]').val(0);
    }
    $('.orderSummaryTotal p').html('<b>Total</b>$'+data.cartTotal);
    if(code == 'US'){
    $('.duty_name').text('Shipping');
    } else {
    $('.duty_name').text('Duty & Import Fees');
    }
    if(data.discount[0] == null && false){
    alert('Your Shipping coupon does not apply to this location and has been removed');
    window.location.reload();
    } else {
    $('.discount-amt').text(data.discount[1]);
    }
    console.log(data);
    });
    }
    }
    });
    $(document).on('click','.location_choices',function(e){
    var placeId = $(this).data('place_id');
    lsService.geocode({'placeId': placeId}, function(results, status) {
    activate(results[0]);
    });
    });
    $('select[name=ship_country]').change();
    $('select[name=bill_country]').change();
    });
  script(src='//www.paypalobjects.com/api/checkout.js', async='')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBTc_xONeYp-mEbhLrISuX28EBeZdIJwyI&libraries=places&callback=initMap')
  footer
    a#mailing(href='') Mailing List
    a#terms(href='') Terms
    a#faq(href='') FAQ
    a#track(href='') My Order
    // <a id='cart' href="">Cart</a>
  section.mailing.popup
    .overlay
      .off_overlay
      .overlay_content
        p Sign up to the mailing list:
        form(autocomplete='off')
          input(type='email', name='email', placeholder='email', tabindex='-1')
          input.button(type='submit', tabindex='-1')
  //
    <section class='cart popup'>
    <div class='overlay'>
    <div class='off_overlay'></div>
    <div class='overlay_content'>
    </div>
    </div>
    </section>
  section.terms.popup
    .overlay
      .off_overlay
      .overlay_content
        .overlay_text
          h1 PINOCCHIO RANDOM DRAWING TERMS AND CONDITIONS
          p
            br
            | We are committed to giving fair access to customers seeking to purchase one of the editioned wood PINOCCHIO (“Figure”) available for sale at this time.
          h2
            br
            | Using this Site
          p
            br
            | Please use a standards-compliant web browser. Javascript must be enabled to use this site. By using our website, you agree to the Terms of Use. We may change or update these terms so please check this page regularly. We do not represent or warrant that the information on our website is accurate, complete, or current. This includes pricing and availability information. We reserve the right to correct any errors or omissions, and to change or update the information at any time without prior notice.
          h2  
          h2 ELIGIBILITY
          p
            br
            | This drawing (“Drawing”) is open to US residents, who are at least 18 years of age, and are able to and desire to purchase the Figure outlined in these terms and located here, via credit card or electronic funds transfer, for a onetime payment of $8,000 US, plus tax (in New York and New Jersey), and shipping costs. Figure will be shipped only to US address. Employees of KAWS, its parents and subsidiaries, advertising and promotion agencies and all other entities participating in the design, promotion, marketing, advertising,
            br
            | administration or fulfillment of the Drawing and their immediate families are ineligible to participate in the Drawing. Void wherever prohibited. Winners of the drawing receive a 24 time frame to purchase the Figure.
          h2
            br
            | HOW IT WORKS
          p
            br
            | Winners of this Drawing will be given the option (“Option”) to purchase the Figure as outlined in these terms.
            br
            | There is no purchase required to enter the Drawing for the option to purchase one of the available Figures,
            br
            | but winners of the drawing must exercise their option to purchase their Figure within 24 hours of notification.
          h2
            br
            | HOW TO ENTER THE OPTION DRAWING.
          p
            br
            | One entry per natural person. Beginning on April 25, 2018, at 12:00 pm (EDT) and ending on April 25,
            br
            | 2018 at 1:00 pm (EDT) (“Entry Period”), potential buyers, must go online at [http://kawsone.com] and
            br
            | provide the requisite information, including their first name, last name, phone number, email address, and
            br
            | shipping address. You may only enter one time during the Entry Period and incomplete entry forms will not
            br
            | constitute a valid entry. The odds of winning an Option depend upon the number of entries received.
          h2
            br
            | SELECTION AND NOTIFICATION OF OPTION WINNERS.
          p
            br
            | On or about April 25, 2018, we will draw five (5) winning names randomly from among all otherwise eligible
            br
            | entries received (“Option Winners”). By April 27, 2018 at 12 PM, Option Winners will be contacted at the
            br
            | email address they used to enter the drawing, and must reply within 24 hours of notification indicating their
            br
            | desire to exercise the Option and purchase the Figure. Once the Option Winner replies, s/he will be
            br
            | provided a link to purchase the Figure. In the event an Option Winner does not exercise his or her Option
            br
            | within 24 hours, the link will expire, the Option will be forfeited. We cannot extend deadlines for any reason.
            br
            | If an Option Winner does not timely exercise his or her option, the prize is forfeited. Options Winners may
            br
            | be required to provide additional information about themselves in order to fulfill the Figure order.
          h2  
          h2 CONDITIONS.
          p
            br
            | By participating, entrants to the Drawing agree to be bound by these terms and conditions and waive any
            br
            | right to claim ambiguity in the terms. This Drawing may be suspended or canceled in the event that we
            br
            | believe any fraud, technical failure or other factor beyond its control impair or will impair the integrity or
            br
            | proper functioning and fair play of the Drawing. KAWS reserves the right in its sole discretion to disqualify
            br
            | any individual who is found to be tampering with the Drawing process or the operation of the Drawing or to
            br
            | be acting in violation of these terms, or to be acting in an unsportsman-like or disruptive manner, or with the
            br
            | intent to disrupt or undermine the legitimate operation of the Drawing, including entering with multiple
            br
            | names. Winner may not transfer, sell, auction, or assign their Option. Options must be exercised in a
            br
            | timely manner, as determined by the internal computerized clock operated by KAWS. Options may only be
            br
            | mailed to the person whose name is listed in the entry form, sent to a US address, and whose information is
            br
            | connected to the email address used. In the event of a dispute as to the owner of the Option, KAWS will
            br
            | deem as the rightful owner the person in whose name the email address was opened.
          h2
            br
            | Disputes
          p
            br
            | Disputes regarding these terms will be governed by the internal laws of the State of New York.
          h2  
          h2 Return Policy
          p
            br
            | All sales are final. We do not issue refunds, accept cancellations, or allow exchanges to be made.
          h2
            br
            | Purchase for Personal Use Only
          p
            br
            | You may purchase products only for personal use and not for resale. By placing your order, you certify that
            br
            | you are purchasing products for personal use only and not for resale. We reserve the right to refuse orders
            br
            | for any reason without explanation.
          h2
            br
            | Shipping
          p
            br
            | We do not ship to P.O. Boxes. Shipping fees are calculated based on your shipping address and may
            br
            | include additional fees calculated on a per item basis and determined by order weight. Products may include
            br
            | an additional handling charge.
          p
            br
            | We are not responsible for any lost, stolen, or damaged shipments. Customers are responsible for paying
            br
            | additional shipping and handling fees to have the order re-shipped, if available. The buyer assumes all
            br
            | responsibilities of claims made with the shipping carrier.
          h2
            br
            | Sales Tax
          p
            br
            | Sales Tax is charged to those orders shipped within the states of New York and New Jersey.
          h2  
          h2 Copyright & Trademarks
          p
            br
            | All content of our website including text, graphics, logos, buttons icons, images, and software, is property of
            br
            | KAWS Inc. and is protected by United States and international copyright laws. You may electronically copy
            br
            | and print hard copies of pages from this web site solely for personal, non-commercial purposes related to
            br
            | placing an order or shopping with kawsone.com. Any other use of our web site, including reproduction and
            br
            | internet links, is strictly prohibited without our prior written permission.
          h2
            br
            | Secure Processing
          p
            br
            | KAWSONE.com uses secure processing called SSL Encryption Technology, which is the industry standard.
            br
            | SSL (Secure Sockets Layer) is a protocol developed for the transmission of private information over the
            br
            | internet. SSL uses a private key to encrypt your data, including your credit card information, so that it cannot
            br
            | be read while being transferred over the internet.
          h2
            br
            | Privacy
          p
            br
            | KAWSONE.com respects our customer’s account information as private and confidential information and will
            br
            | never share this with any outside affiliation or individuals. Your information is secured and encrypted with the
            br
            | Secure Socket Layer Software.
          //
            <h1 class='overlay_head1'>TERMS OF USE</h1>
            <p class='overlay_head'>Using this Site</p>
            <p>
            Please use a standards-compliant web browser. Javascript must be enabled to use this site. By using our website, you agree to the Terms of Use. We may change or update these terms so please check this page regularly. We do not represent or warrant that the information on our website is accurate, complete, or current. This includes pricing and availability information. We reserve the right to correct any errors or omissions, and to change or update the information at any time without prior notice.</p>
            <p class='overlay_head'>Return Policy</p>
            <p>All sales are final. We do not issue refunds, accept cancellations, or allow exchanges to be made.</p>
            <p class='overlay_head'>Purchase for Personal Use Only</p>
            <p>You may purchase products only for personal use and not for resale. By placing your order, you certify that you are purchasing products for personal use only and not for resale. We reserve the right to refuse orders for any reason without explanation.</p>
            <p class='overlay_head'>Shipping</p>
            <p>We do not ship to P.O. Boxes. Please allow 5-7 business days for order processing and verification, and an additional 7-10 business days for delivery.</p>
            <p>All domestic orders are shipped UPS Ground. International orders (to select countries) are shipped UPS Worldwide Expedited. Shipping fees are calculated as flat-rate per country and may include additional fees calculated on a per item basis and determined by order weight. Products may include an additional handling charge.</p>
            <p>We are not responsible for any lost, stolen, or damaged shipments. Customers are responsible for paying additional shipping and handling fees to have the order re-shipped, if available. The buyer assumes all responsibilities of claims made with the shipping carrier.</p>
            <p class='overlay_head'>International Tax and Duty</p>
            <p>International customers may incur additional charges upon delivery. The buyer is responsible for all import duty and tax due prior to receipt of the product. UPS will contact the buyer to collect payment.</p>
            <p class='overlay_head'>Sales Tax</p>
            <p>Sales Tax is charged to those orders shipped within the states of New York and New Jersey. All apparel including hats under $110 is tax exempt. For apparel and hats over $110, the applicable tax rate is 4.375%. Bags and accessories are not considered apparel and are taxable. The applicable tax rate for bags and accessories is 8.875%. Shipping is also taxed. Sales tax is not charged to orders shipped to states outside of New York.</p>
            <p class='overlay_head'>Copyright & Trademarks</p>
            <p>All content of our website including text, graphics, logos, buttons icons, images, and software, is property of KAWS Inc. and is protected by United States and international copyright laws. You may electronically copy and print hard copies of pages from this web site solely for personal, non-commercial purposes related to placing an order or shopping with kawsone.com. Any other use of our web site, including reproduction and internet links, is strictly prohibited without our prior written permission.</p>
            <p class='overlay_head'>Secure Processing</p>
            <p>KAWSONE.com uses secure processing called SSL Encryption Technology, which is the industry standard. SSL (Secure Sockets Layer) is a protocol developed for the transmission of private information over the internet. SSL uses a private key to encrypt your data, including your credit card information, so that it cannot be read while being transferred over the internet.</p>
            <p class='overlay_head'>Privacy</p>
            <p>KAWSONE.com respects our customer’s account information as private and confidential information and will never share this with any outside affiliation or individuals. Your information is secured and encrypted with the Secure Socket Layer Software.</p>
  section.faq.popup
    .overlay
      .off_overlay
      .overlay_content
        .overlay_text
          p.overlay_head1
            | F.A.Q.
          p.overlay_head I changed my mind. Can I get a refund or make an exchange for a new size/color?
          p
            | We do not accept returns for refunds, credits, or exchanges. All sales are final. Please make sure that you have carefully reviewed all information in your order prior to finalizing your purchase, including your billing and shipping address, e-mail and telephone number.
          p.overlay_head Can I track my order?
          p
            | All customers receive a shipping confirmation e-mail when their order ships, which includes the UPS tracking number. To track your package, go to the link below, enter your tracking number, and press the "track" button to get shipment details. 
            a(href='https://www.ups.com/WebTracking/track?loc=en_us') https://www.ups.com/WebTracking/track?loc=en_us
          p.overlay_head When will I receive my order?
          p
            | Please allow 5-7 business days for order processing and verification, and an additional 7-10 business days for delivery. We do not ship out on Saturdays or Sundays. If your order has not arrived within the aforementioned guidelines, please contact us and we will do our best to track your order for you.
          p.overlay_head What shipping carrier do you use?
          p We ship all orders via United Parcel Service.
          p.overlay_head Can I contact you directly with any questions?
          p
            | Please email shop@kawsone.com with any questions regarding your order. We will try our best to reply to your question(s) within 24-48 hours.
          p.overlay_head Do you accept check payments? Can I use PayPal?
          p
            | We do not accept payments by check, and PayPal is not presently supported on KAWSONE.com. We currently accept Visa or Mastercard payments only.
          p.overlay_head Why does my billing and shipping address have to match?
          p
            | We require that your billing and shipping address match as an additional step to prevent credit card fraud.
          p.overlay_head I do not live in the United States. Can I place an order?
          p
            | KAWSONE accepts orders from the United States and select International Countries list below: Australia Austria Belgium Canada China Czech Republic Denmark Finland France Germany Greece Hong Kong Hungary Iceland Ireland Israel Italy Japan Korea, South Luxembourg Netherlands New Zealand Norway Portugal Puerto Rico Singapore Spain Sweden Switzerland Taiwan Thailand United Kingdom
          p.overlay_head Can I order other items that are not offered on the web store?
          p
            | We are only offering a select group of items through the web shop at this time. Please add your e-mail to the mailing list to receive product release updates.
          p.overlay_head Do you sell wholesale?
          p We do not sell wholesale.
  section.track.popup
    .overlay
      .off_overlay
      .overlay_content
        .overlay_text
          h1.overlay_head1 Order Management
          p.overlay_head Enter the following information to See the progress of your orders
          form#orderDetail(action='/orders/order', method='post', autocomplete='off')
            input(type='text', name='ref_num', placeholder='Order #', tabindex='-1')
            label E-Mail Address
            input(type='email', name='email', placeholder='email', tabindex='-1')
            input.button(type='submit', tabindex='-1')
