extends  ./layout

block content
	.pageWrapper.aboutPageWrapper
		.terms
			h1.overlay_head1 PINOCCHIO RANDOM DRAWING TERMS AND CONDITIONS
			p We are committed to giving fair access to customers seeking to purchase one of the editioned wood PINOCCHIO (“Figure”) available for sale at this time.
			p.overlay_head Using this site
			p
				| Please use a standards-compliant web browser. Javascript must be enabled to use this site. By using our website, you agree to the Terms of Use. We may change or update these terms so please check this page regularly. We do not represent or warrant that the information on our website is accurate, complete, or current. This includes pricing and availability information. We reserve the right to correct any errors or omissions, and to change or update the information at any time without prior notice.
			p.overlay_head Eligibility
			p
				| This drawing (“Drawing”) is open to US residents, who are at least 18 years of age, and are able to and desire to purchase the Figure outlined in these terms and located here, via credit card or electronic funds transfer, for a onetime payment of $8,000 US, plus tax (in New York and New Jersey), and shipping costs. Figure will be shipped only to US address. Employees of KAWS, its parents and subsidiaries, advertising and promotion agencies and all other entities participating in the design, promotion, marketing, advertising, administration or fulfillment of the Drawing and their immediate families are ineligible to participate in the Drawing. Void wherever prohibited. Winners of the drawing receive a 24 hour time frame to purchase the Figure.
			p.overlay_head How it works
			p
				| Winners of this Drawing will be given the option (“Option”) to purchase the Figure as outlined in these terms. There is no purchase required to enter the Drawing for the option to purchase one of the available Figures, but winners of the drawing must exercise their option to purchase their Figure within 24 hours of notification.
			p.overlay_head How to enter the option drawing
			p
				strong One entry per natural person. 
				| Beginning on April 25, 2018, at 12:00 pm (EDT) and ending on April 25, 2018 at 1:00 pm (EDT) (“Entry Period”), potential buyers, must go online at [http://kawsone.com] and provide the requisite information, including their first name, last name, phone number, email address, and shipping address. You may only enter one time during the Entry Period and incomplete entry forms will not constitute a valid entry. The odds of winning an Option depend upon the number of entries received.

			p.overlay_head Selection and notification of option winners
			p
				| On or about April 25, 2018, we will draw winning names randomly from among all otherwise eligible entries received (“Option Winners”). By April 27, 2018 at 12 PM, Option Winners will be provided a link to purchase the Figure at the email address they used to enter the drawing. In the event an Option Winner does not exercise his or her Option within 24 hours, the link will expire, the Option will be forfeited. We cannot extend deadlines for any reason. If an Option Winner does not timely exercise his or her option, the prize is forfeited. Options Winners may be required to provide additional information about themselves in order to fulfill the Figure order.

			p.overlay_head Conditions
			p
				| By participating, entrants to the Drawing agree to be bound by these terms and conditions and waive any right to claim ambiguity in the terms. This Drawing may be suspended or canceled in the event that we believe any fraud, technical failure or other factor beyond its control impair or will impair the integrity or proper functioning and fair play of the Drawing. KAWS reserves the right in its sole discretion to disqualify any individual who is found to be tampering with the Drawing process or the operation of the Drawing or to be acting in violation of these terms, or to be acting in an unsportsman-like or disruptive manner, or with the intent to disrupt or undermine the legitimate operation of the Drawing, including entering with multiple names. Winner may not transfer, sell, auction, or assign their Option. Options must be exercised in a timely manner, as determined by the internal computerized clock operated by KAWS. Options may only be mailed to the person whose name is listed in the entry form, sent to a US address, and whose information is connected to the email address used. In the event of a dispute as to the owner of the Option, KAWS will deem as the rightful owner the person in whose name the email address was opened.

			p.overlay_head Disputes
			p
				| Disputes regarding these terms will be governed by the internal laws of the State of New York.

			p.overlay_head Return policy
			p
				| All sales are final. We do not issue refunds, accept cancellations, or allow exchanges to be made.

			p.overlay_head Purchase for personal use only
			p
				| You may purchase products only for personal use and not for resale. By placing your order, you certify that you are purchasing products for personal use only and not for resale. We reserve the right to refuse orders for any reason without explanation.

			p.overlay_head Shipping
			p
				| We do not ship to P.O. Boxes. Shipping fees are calculated based on your shipping address and may include additional fees calculated on a per item basis and determined by order weight. Products may include an additional handling charge.
			p
				| We are not responsible for any lost, stolen, or damaged shipments. Customers are responsible for paying additional shipping and handling fees to have the order re-shipped, if available. The buyer assumes all responsibilities of claims made with the shipping carrier.

			p.overlay_head Sales tax
			p
				| Sales Tax is charged to those orders shipped within the states of New York and New Jersey.

			p.overlay_head Copyright & trademarks
			p
				| All content of our website including text, graphics, logos, buttons icons, images, and software, is property of KAWS Inc. and is protected by United States and international copyright laws. You may electronically copy and print hard copies of pages from this web site solely for personal, non-commercial purposes related to placing an order or shopping with kawsone.com. Any other use of our web site, including reproduction and internet links, is strictly prohibited without our prior written permission.

			p.overlay_head Secure processing
			p
				| KAWSONE.com uses secure processing called SSL Encryption Technology, which is the industry standard. SSL (Secure Sockets Layer) is a protocol developed for the transmission of private information over the internet. SSL uses a private key to encrypt your data, including your credit card information, so that it cannot be read while being transferred over the internet.

			p.overlay_head Privacy
			p
				| KAWSONE.com respects our customer’s account information as private and confidential information and will never share this with any outside affiliation or individuals. Your information is secured and encrypted with the Secure Socket Layer Software.


	style(type='text/css').
		.pageWrapper .terms {
			padding: 200px 30px;
			text-align: left;
			max-width: 690px;
			margin: auto;
		}
		.pageWrapper.aboutPageWrapper {
			background-color: white;
		}
		.pageWrapper.aboutPageWrapper .terms p {
			text-align: left;
			margin-bottom: 10px;
		}
		h1 {
			margin-bottom: 35px;
		}
		.pageWrapper.aboutPageWrapper .overlay_head {
			font-weight: bold;
			font-size: 15px;
			margin-top: 36px;
			margin-bottom: 7px !important;
		}