extends  ./layout

block content
	if data === null 
		section
			div Order not found
	if data
		//- p #{JSON.stringify(data)}
		section.container.order_conf
			h1 Order Summary
			.order_details
				.PrintOnly
				.col-sm-24.col-md-24
					h3.order_date
						span
						| #
						| #{data.id}
						| - 
						span.date #{JSON.stringify(data.insert_time)}
					br
					if data.tracking_number
					else
						p
							| We have received your order. Please allow 5-7 business days for order processing and verification.
							br
							| You will receive a tracking number prior to shipping, please allow an additional 7-10 business days for delivery.
					h2 Shipping to...
					table
						tr
							td
								strong Name:
							td #{ data.ship_first_name + " " + data.ship_last_name }
						tr
							td
								strong Address:
							td 
								| #{ data.ship_address }
								br
								| #{ data.ship_city + ", " + data.ship_state + ". " + data.ship_zip + " " + data.ship_country }
						tr
							td
								strong Country:
							td #{ data.ship_country }
						tr
							td
								strong Email:
							td #{ data.email }
						tr
							td
								strong Phone:
							td #{ data.phone }
						tr
							td
								strong Status:
							td #{ data.status }
						if data.tracking_number
							tr
								td
									strong Tracking Number:
								td
									a(href="https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums="+data.tracking_number, target='_blank')= data.tracking_number
					.return_form
						button.button#openButton CONTACT US
						form#ticket
							.modal_formWrapper.contact
								h2 Send us an email about your order
								.inputRow
									label Name
									input(disabled='', type='text', value=data.ship_first_name+' '+data.ship_last_name )
									input(name='name', type='hidden',value=data.ship_first_name+' '+data.ship_last_name,  required='')
								.inputRow
									label Email Address
									input(disabled='', type='email', value=data.email )
									input(name='email', type='hidden', value=data.email, required='')
									input(name='orderID', type='hidden', value=data.id)
								.inputRow
									label Subject
									.custom-select(style='width:200px;')
										select(name='subject')
											option(disabled='disabled', selected='selected', value='-1') Select an option:
											option Billing
											option Shipping / Tracking
											option Other

								.inputRow
									label Message
									textarea(name='message', required='')
									button.button(type='submit') Send

					// each state,code in getStates()
					.order_products_flex
						each order_product in data.order_products
							.col-md-24.ordered_products
								h4
								.col-sm-4.col-md-4.order_image
									a(href="product/"+order_product.product.slug)
										img(src='https://kaws-images.s3.amazonaws.com/'+order_product.product.featured_image)

								a(href="product/"+order_product.product.slug)
									p
									| #{order_product.product.name} (
									| #{order_product.product.color} )
								p
								| Quantity:
								| #{order_product.quantity}
								p
								| Price:
								| #{parseFloat(order_product.unit_price).toFixed(2)}
					.col-md-24.order_summary.table-responsive
						h3 Payment Summary
						table.table
							tr
								td
									strong SubTotal:
								td
									| $
									| #{data.subtotal.toFixed(2)}
							tr
								td
									strong Shipping:
								td
									| $
									| #{data.shipping_cost.toFixed(2)}
							if parseFloat(data.tax) != 0
								tr
									td
										strong Tax:
									td
										| $
										| #{parseFloat(data.tax).toFixed(2)}
							else
								tr
									td
										strong Duty:
									td
										| $
										| #{parseFloat(data.duty).toFixed(2)}
							tr
								td
									b Total:
								td
									| $
									| #{data.total.toFixed(2)}



		
