
@import 'base/old';

.disclaimer {
    font-weight: bold;
    color: black;
    margin-top: 40px;
    font-size: 14px !important;
    margin-bottom: 10px;
}

.button {
	line-height: 1.4;
}

#lotto_form p {
	line-height: 1;
}

.overlay_content form {
	max-width: 360px;
}

.alert.alert-success, .alert.alert-danger {
    top: 113px;
    font-size: 14px;
}

.verify_terms {
	cursor: pointer;
}

.popup.terms p, .popup.faq p {
	font-size: 12px !important;
	font-weight: 300;
}

.popup.terms h1 {
	margin-bottom: 20px;
}

.pageWrapper.aboutPageWrapper .terms p {
	font-size: 14px;
	font-weight: 300;
}

.pageWrapper.aboutPageWrapper .overlay_head {
    font-weight: bold !important;
    font-size: 15px !important;
}

.overlay_content input {
    border-radius: 4px !important;
    font-size: 13px !important;
    height: auto !important;
    padding: 10px;
}

.content_holder.doll {
    flex-wrap: nowrap;
}

.order_date {
	font-size: 13px;
}

.custom-select {
  position: relative;
  width: 100% !important;
	border-radius: 13px;
	background: transparent;
}
.custom-select select {
	display: none;
}
.select-selected {
  background-color: transparent;
  border: 1px solid #CCC !important;
padding: 10px;
color: black !important;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #00000061 transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div, .select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  color: #000000;
font-size: 13px;
}

.select-items {
  position: absolute;
    background-color: white;
    border: 1px solid #eaeaea;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.return_form form input, .modal_formWrapper .inputRow > textarea, .select-selected {
    border-radius: 4px !important;
    font-size: 13px;
}

.order_summary {
	width: 100% !important;
	max-width: 100% !important;
}

.cartUpdate {
    margin-bottom: 8px;
}
.cartUpdate button:nth-child(1),
.cartUpdate button:nth-child(2) {
    background: white;
    border: 1px solid rgba(225, 226, 230, .65);
    padding:2px;
    color:#333;
        padding: 2px;
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 4px;
}

.cartUpdate button:nth-child(3){
    background: #8080806e;
    border: 1px solid rgba(225, 226, 230, .65);
    color: white;
    text-align: center;
    height: 30px;
    display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        display: block;
        margin-top: 15px;
}
.cartUpdate button:hover {
    cursor: pointer;
        background: #333;
    border-color: #333;
    color: white!important;
}

@media (max-width: 809px) {
	.figure_info {
	    margin-top: 285px;
	}

	.content_holder.doll {
	    flex-wrap: wrap;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 767px) {
	.figure_info {
	    left: auto;
	    margin-top: 316px !important;
	}
}